<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Import Complete, <%= @user.username %>!</p>
    <p>It took <%= @elapsed_time%> to process <%= @total_rows%> rows.</p>
    <p><%= @failed_rows.count%> rows failed.</p>
  </body>
</html>