<nav class="navbar navbar-dark bg-inverse">
  <%= link_to "Desk.com CSV Uploader", root_path, class: "navbar-brand" %>
  <ul class="nav navbar-nav">

    <li class="nav-item active">
      <a class="nav-link" href="#">Customers <span class="sr-only">(current)</span></a>
    </li>
  </ul>
</nav>
